.calculator_page {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(202, 15, 77);
    color: #fff;
    min-height: 85vh;
    padding: 2% 10% 2% 10%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 80px;
    width: 500px;
    margin-left: 20%;
    margin-top: 5%;
    border: none;
  }
  
  .child {
    border: 1px solid rgb(202, 202, 202);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  
  .output {
    grid-column: 1/5;
    padding-right: 1%;
    display: grid;
    align-items: center;
    justify-content: end;
    border: none;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(128, 128, 128, 0.781);
  }
  
  .zero {
    grid-column: 1/3;
  }
  
  .orange {
    background-color: rgb(255, 151, 65);
  }